<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.mybatis.mapper.CartsMapper">
  <resultMap id="BaseResultMap" type="com.smart.mybatis.entity.Carts">
    <!--@mbg.generated-->
    <!--@Table carts-->
    <id column="carts_id" jdbcType="INTEGER" property="cartsId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    carts_id, `status`, user_id, product_id, quantity
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from carts
    where carts_id = #{cartsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from carts
    where carts_id = #{cartsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="carts_id" keyProperty="cartsId" parameterType="com.smart.mybatis.entity.Carts" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into carts (`status`, user_id, product_id, 
      quantity)
    values (#{status,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, 
      #{quantity,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="carts_id" keyProperty="cartsId" parameterType="com.smart.mybatis.entity.Carts" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into carts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="status != null">
        `status`,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smart.mybatis.entity.Carts">
    <!--@mbg.generated-->
    update carts
    <set>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
    </set>
    where carts_id = #{cartsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smart.mybatis.entity.Carts">
    <!--@mbg.generated-->
    update carts
    set `status` = #{status,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER}
    where carts_id = #{cartsId,jdbcType=INTEGER}
  </update>
</mapper>